<!DOCTYPE html>
<html>

<head>
    <!-- Head data --> 
    <%- include('../includes/head.ejs', {title: 'TLFleet || Vehicles'}) -%>
    <%- include('../includes/appcss.ejs') -%>
    
    <style>
        pointer {
            cursor: pointer
        }
    </style>
</head>


<body class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <%- include('../includes/topbar.ejs') -%>
        <!-- Top Bar End -->
            
        <!-- ========== Left Sidebar Start ========== -->
        <%- include('../includes/sidenav.ejs'); -%>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs">
                                <li class="active nav-item">
                                    <a data-target="#all" data-toggle="tab" aria-expanded="false"
                                        class="nav-link  active show">
                                        All
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a data-target="#assigned" data-toggle="tab" aria-expanded="true"
                                        class="nav-link show">
                                        Assigned
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a data-target="#unassigned" data-toggle="tab" aria-expanded="false"
                                        class="nav-link show">
                                        Unassigned
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a data-target="#archived" data-toggle="tab" aria-expanded="false"
                                        class="nav-link show">
                                        Archived
                                    </a>
                                </li>

                                <a href="/vehicle/add"
                                    class="btn btn-success btn-right btn-bordred waves-effect w-md waves-light m-b-5 ml-auto">
                                    <i class="fa fa-plus"></i>
                                    Add Vehicle</a>
                            </ul>
                        </div>
                    </div>
                    <!--row -->
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="tab-content">
                                <div class="card-box tab-pane active" id="all">
                                    <table class="table table-hover ">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>VIN/SN</th>
                                                <th>Type</th>
                                                <th>Make</th>
                                                <th>Model</th>
                                                <th>License Plate</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% vehicles.forEach(vehicle => { %>
                                                <tr class="pointer">
                                                    <td><%= vehicle.vehicleName %></td>
                                                    <td><%= vehicle.vin %></td>
                                                    <td><%= vehicle.type %></td>
                                                    <td><%= vehicle.make %></td>
                                                    <td><%= vehicle.model %></td>
                                                    <td><%= vehicle.licensePlate %></td>
                                                    <td>
                                                        <a class="btn btn-block btn-dark" href="/vehicle/one/<%= vehicle._id %>">
                                                            View
                                                        </a>
                                                    </td>
                                                </tr>
                                            <% }) %>

                                        </tbody>
                                    </table>

                                </div>
                                <div class="card-box tab-pane " id="assigned">
                                    <h1 class="text-center"> No Content <h1/>
                                </div>
                                <div class="card-box tab-pane " id="unassigned">
                                    <h1 class="text-center"> No Content <h1/>
                                </div>
                                <div class="card-box tab-pane " id="archived">
                                    <h1 class="text-center"> No Content <h1/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--row -->

                </div> <!-- container -->

            </div> <!-- content -->

            <!-- Footer -->
            <%- include('../includes/footer.ejs') %>
        </div>


        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->


        <!-- Right Sidebar -->
            <%- include('../includes/rightbar.ejs') %>
        <!-- /Right-bar -->

    </div>
    <!-- END wrapper -->

    <!-- Scripts -->
    <%- include('../includes/footerscripts.ejs') %>

</body>

</html>